In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
print ('welcome')

welcome

In [21]:
df_c_train = pd.read_csv('E://av/train_7.csv')
df_c_test = pd.read_csv('E://av/test_7.csv')
#df_c_train = pd.read_csv('E://Data Science/AV/XML/Contacts_Pre_2017_XL_train.csv')
#df_c_test = pd.read_csv('E://Data Science/AV/XML/Contacts_Pre_2017_XL_valid.csv')

print ('welcome')

welcome

In [22]:
x_train = pd.DataFrame()
x_test = pd.DataFrame()
y_train = pd.DataFrame()
z_train = pd.DataFrame()

In [23]:
x_train['Item_ID'] = df_c_train['Item_ID']
x_train['Category_1'] = df_c_train['Category_1']
x_train['Category_2'] = df_c_train['Category_2']
x_train['Category_3'] = df_c_train['Category_3']
x_train['t'] = df_c_train['t']
x_train['t2'] = df_c_train['t2']
#x_train['Month'] = df_c_train['Month']
x_train['Date'] = df_c_train['Date']
#x_train['weekday'] = df_c_train['weekday']
x_train['Prince_RT'] = df_c_train['Prince_RT']
x_train['Price_avg'] = df_c_train['Price_avg']
x_train['Sales_RT'] = df_c_train['Sales_RT']
x_train['Sales_avg'] = df_c_train['Sales_avg']


print ('welcome')

welcome

In [24]:
x_train.columns

Index(['Item_ID', 'Category_1', 'Category_2', 'Category_3', 't', 't2', 'Date',
       'Prince_RT', 'Price_avg', 'Sales_RT', 'Sales_avg'],
      dtype='object')

In [25]:
month_dummies = pd.get_dummies(df_c_train['Month'])
week_dummies = pd.get_dummies(df_c_train['weekday'])

In [26]:
x_train=pd.concat([x_train, month_dummies, week_dummies], axis=1, join_axes=[x_train.index])

In [27]:
x_train.head()

,Item_ID,Category_1,Category_2,Category_3,t,t2,Date,Prince_RT,Price_avg,Sales_RT,...,Nov,Oct,Sep,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,29654,184,99,1,899,808201,17,0.922571,0.922571,295.428571,...,0,0,0,1,0,0,0,0,0,0
1,29654,184,99,1,900,810000,18,0.922571,0.922571,295.428571,...,0,0,0,0,0,1,0,0,0,0
2,29654,184,99,1,901,811801,19,0.922571,0.922571,295.428571,...,0,0,0,0,0,0,1,0,0,0
3,29654,184,99,1,902,813604,20,0.922571,0.922571,295.428571,...,0,0,0,0,1,0,0,0,0,0
4,29654,184,99,1,903,815409,21,0.922571,0.922571,295.428571,...,0,0,0,0,0,0,0,0,1,0

In [28]:
x_test['Item_ID'] = df_c_test['Item_ID']
x_test['Category_1'] = df_c_test['Category_1']
x_test['Category_2'] = df_c_test['Category_2']
x_test['Category_3'] = df_c_test['Category_3']
x_test['t'] = df_c_test['t']
x_test['t2'] = df_c_test['t2']
#x_test['Month'] = df_c_test['Month']
x_test['Date'] = df_c_test['Date']
#x_test['weekday'] = df_c_test['weekday']
x_test['Prince_RT'] = df_c_test['Prince_RT']
x_test['Price_avg'] = df_c_test['Price_avg']
x_test['Sales_RT'] = df_c_test['Sales_RT']
x_test['Sales_avg'] = df_c_test['Sales_avg']
print ('welcome')

welcome

In [29]:
test_month_dummies = pd.get_dummies(df_c_test['Month'])
test_week_dummies = pd.get_dummies(df_c_test['weekday'])
x_test=pd.concat([x_test, test_month_dummies, test_week_dummies], axis=1, join_axes=[x_test.index])

In [30]:
x_test['Jan']=0
x_test['Feb']=0
x_test['Mar']=0
x_test['Apr']=0
x_test['May']=0
x_test['Jun']=0
x_test.head()

#x_test.columns

,Item_ID,Category_1,Category_2,Category_3,t,t2,Date,Prince_RT,Price_avg,Sales_RT,...,Sun,Thu,Tue,Wed,Jan,Feb,Mar,Apr,May,Jun
0,30413,235,3.0,0,913,833569,1,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,0,0,0,0,0
1,30413,235,3.0,0,914,835396,2,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,0,0,0,0,0
2,30413,235,3.0,0,915,837225,3,3677.068676,177.664197,848555.2435,...,1,0,0,0,0,0,0,0,0,0
3,30413,235,3.0,0,916,839056,4,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,0,0,0,0,0
4,30413,235,3.0,0,917,840889,5,3677.068676,177.664197,848555.2435,...,0,0,1,0,0,0,0,0,0,0

In [31]:
x_test.columns

Index(['Item_ID', 'Category_1', 'Category_2', 'Category_3', 't', 't2', 'Date',
       'Prince_RT', 'Price_avg', 'Sales_RT', 'Sales_avg', 'Aug', 'Dec', 'Jul',
       'Nov', 'Oct', 'Sep', 'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed',
       'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
      dtype='object')

In [32]:
x_test = x_test[['Item_ID', 'Category_1', 'Category_2', 'Category_3', 't', 't2', 'Date','Prince_RT', 'Price_avg', 'Sales_RT', 'Sales_avg', 'Apr', 'Aug', 'Dec',
                'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep', 'Fri','Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed']]

In [33]:
x_train.columns

Index(['Item_ID', 'Category_1', 'Category_2', 'Category_3', 't', 't2', 'Date',
       'Prince_RT', 'Price_avg', 'Sales_RT', 'Sales_avg', 'Apr', 'Aug', 'Dec',
       'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep', 'Fri',
       'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'],
      dtype='object')

In [34]:
x_test.head()

,Item_ID,Category_1,Category_2,Category_3,t,t2,Date,Prince_RT,Price_avg,Sales_RT,...,Nov,Oct,Sep,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,30413,235,3.0,0,913,833569,1,3677.068676,177.664197,848555.2435,...,0,0,0,1,0,0,0,0,0,0
1,30413,235,3.0,0,914,835396,2,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,1,0,0,0,0
2,30413,235,3.0,0,915,837225,3,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,0,1,0,0,0
3,30413,235,3.0,0,916,839056,4,3677.068676,177.664197,848555.2435,...,0,0,0,0,1,0,0,0,0,0
4,30413,235,3.0,0,917,840889,5,3677.068676,177.664197,848555.2435,...,0,0,0,0,0,0,0,0,1,0

In [35]:
y_train['Price'] = df_c_train['Price']
z_train['Number_Of_Sales'] = df_c_train['Number_Of_Sales']
print ('welcome')

welcome

In [36]:
import xgboost as xgb

# Set our parameters for xgboost
params = {}
#params['objective'] = 'count:poisson'
params['objective'] = 'reg:linear'
params['eval_metric'] = 'rmse'
#params['eval_metric'] = 'logloss'
params['eta'] = 0.02
params['max_depth'] = 6

d_train = xgb.DMatrix(x_train, label=y_train)

watchlist = [(d_train, 'train')]

bst_price = xgb.train(params, d_train, 200, watchlist, early_stopping_rounds=50, verbose_eval=10)

[0]	train-rmse:22.5809
Will train until train-rmse hasn't improved in 50 rounds.
[10]	train-rmse:18.6718
[20]	train-rmse:15.5037
[30]	train-rmse:12.9479
[40]	train-rmse:10.8932
[50]	train-rmse:9.24917
[60]	train-rmse:7.95274
[70]	train-rmse:6.93092
[80]	train-rmse:6.13265
[90]	train-rmse:5.51892
[100]	train-rmse:5.0371
[110]	train-rmse:4.67255
[120]	train-rmse:4.38389
[130]	train-rmse:4.15812
[140]	train-rmse:3.9905
[150]	train-rmse:3.84907
[160]	train-rmse:3.74041
[170]	train-rmse:3.6528
[180]	train-rmse:3.57838
[190]	train-rmse:3.51007
[199]	train-rmse:3.46537

In [37]:
import xgboost as xgb

# Set our parameters for xgboost
params = {}
#params['objective'] = 'count:poisson'
params['objective'] = 'reg:linear'
params['eval_metric'] = 'rmse'
#params['eval_metric'] = 'logloss'
params['eta'] = 0.02
params['max_depth'] = 6

s_train = xgb.DMatrix(x_train, label=z_train)

watchlist = [(s_train, 'train')]

bst_sales = xgb.train(params, s_train, 200, watchlist, early_stopping_rounds=50, verbose_eval=10)

[0]	train-rmse:7698.94
Will train until train-rmse hasn't improved in 50 rounds.
[10]	train-rmse:6419.14
[20]	train-rmse:5403.16
[30]	train-rmse:4585.49
[40]	train-rmse:3935.56
[50]	train-rmse:3432.92
[60]	train-rmse:3038.94
[70]	train-rmse:2728.63
[80]	train-rmse:2493.19
[90]	train-rmse:2316.6
[100]	train-rmse:2163.04
[110]	train-rmse:2052.56
[120]	train-rmse:1975.33
[130]	train-rmse:1920.19
[140]	train-rmse:1835.15
[150]	train-rmse:1757.3
[160]	train-rmse:1692.74
[170]	train-rmse:1642.25
[180]	train-rmse:1605.25
[190]	train-rmse:1575.11
[199]	train-rmse:1549.02

In [38]:
d_test = xgb.DMatrix(x_test)
price_test = bst_price.predict(d_test)

In [39]:
sales_test = bst_sales.predict(d_test)

In [ ]:
sub = pd.DataFrame()
import math

sub['Sales'] = sales_test
sub['Price'] = price_test

In [ ]:
sub.to_csv('fractal_xgb4.csv', index=False)
print ("hello")